.blog-main-page {
    width: 100%;
    height: 100vh;
    background-image: url(../images/blog-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.center-content {
    width: 530px;
    text-align: center;
}

.center-content p {
    font-size: 35px;
    color: #ffff;
    /* font-size: 48px; */
    font-weight: 500;

}

.read-article {
    background-color: #FF6F66;
    color: #fff;
    font-size: 18px;
    padding: 8px;
    border-radius: 10px;
}

.latest-post {
    color: #fff;
    width: 100px;
    text-align: center;
    margin: 20px auto;
    font-size: 13px !important;

}

.latest-post p {
    font-size: 13px;
}

.feature-post-text {
    border-bottom: 1px solid #fff;

}

.categories {
    margin-top: 10px 0 10px 0;
}

.lifestyle {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.lifestyle p {
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.categories {
    padding: 4px;
}

.categories {
    margin: 60px 0 60px 0;
}

.categories h3 {
    font-family: jost;
}

.latest-life-post {
    margin: 60px 0 60px 0;
}

.latest-life-post h3 {
    font-family: jost;
}

.vanlife h5 {
    font-family: Space sans-serif;
    margin-top: 10px;
}

.vanlife p {
    font-family: Space sans-serif;
    font-size: 15px;

}

.marquee-container {
    height: 30px;
    overflow: hidden;
    line-height: 30px;

    .marquee {
        top: 0;
        left: 100%;
        width: 100%;
        overflow: hidden;
        position: absolute;
        white-space: nowrap;
        animation: marquee 30s linear infinite;
    }

    .marquee2 {
        animation-delay: 10s;
    }

    b {
        padding-left: 10px;
    }
}

.scrolling-animation {
    background-color: #E5EDED;
    height: 40px;
}

@keyframes marquee {
    0% {
        left: 100%;
    }

    100% {
        left: -100%
    }
}