.blog-main-page{
    width: 100%;
    height: 100vh;
    background-image: url(../images/blog-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}
.center-content{
    width: 530px;
    text-align: center;
}
.center-content p{
    font-size: 35px;
    color: #ffff;
    /* font-size: 48px; */
    font-weight: 500;

}
.read-article{
    background-color: #FF6F66;
    color: #fff;
    font-size: 18px;
    padding: 8px;
    border-radius: 10px;
}
.latest-post{
    color:#fff;
    width: 100px;
    text-align: center;
    margin: 20px auto;
    font-size: 13px !important;

}
.latest-post p{
font-size: 13px;
}
.feature-post-text{
    border-bottom: 1px solid #fff;
    
}


