.blogHome {
    width: 100%;
    height: 80vh;
    position: relative;
}

.center-tex {
    font-size: 50px;
}

.center-cont-text {
    position: absolute;
    top: 0%;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.blog-bg {
    width: 100%;
    height: 60%;
    object-fit: contain;
    background-position: center;
    background-size: cover;
}

.blog-page {
    margin: auto;
    width: 70%;
}

.che {
    width: 48px;
    height: 48px;
    border-radius: 70px;
}

.chegue {
    display: flex;
    /* margin-left: 10px; */
}
.blog-che{
    margin-left: 10px;
}